body {
    background-color: #150e06;
  }
  img {
    box-shadow: 0 0 0px #150e06;
  }
.css-slideshow {
    position: relative;
    max-width: 400px;
    height: 400px;
    margin: 5em auto 0.5em auto;
  }
  .css-slideshow figure {
    margin: 0;
    max-width: 400px;
    height: 400px;
    background: #150e06;
    position: absolute;
  }
  .css-slideshow img {
    box-shadow: 0 0 0px #150e06;
  }
  .css-slideshow-attr {
    max-width: 400px;
    text-align: right;
    font-size: 0.7em;
    font-style: italic;
    margin: 0 auto;
  }
  .css-slideshow-attr a {
    color: #150e06;
  }
  .css-slideshow figure {
    opacity: 0;
  }
  figure:nth-child(1) {
    animation: xfade 24s 21s infinite;
  }
  figure:nth-child(2) {
    animation: xfade 24s 18s infinite;
  }
  figure:nth-child(3) {
    animation: xfade 24s 15s infinite;
  }
  figure:nth-child(4) {
    animation: xfade 24s 12s infinite;
  }
  figure:nth-child(5) {
    animation: xfade 24s 9s infinite;
  }
  figure:nth-child(6) {
    animation: xfade 24s 6s infinite;
  }
  figure:nth-child(7) {
    animation: xfade 24s 3s infinite;
  }
  figure:nth-child(8) {
    animation: xfade 24s 0s infinite;
  }
  
  @keyframes xfade {
    0% {
      opacity: 1;
    }
    10.5% {
      opacity: 1;
    }
    12.5% {
      opacity: 0;
    }
    98% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
