.loader_bg{
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.loader{
border: 0 solid transparent;
border-radius: 50%;
width: 150px;
height: 150px;
position: absolute;
top: calc(50vh - 75px);
left: calc(50vw - 75px);
}
.loader:before , .loader:after{
content: '';
border: 1em solid #ff5733;
border-radius: 50%;
width: inherit;
height: inherit;
position: absolute;
top: 0;
left: 0;
animation: loader 2s linear infinite;
opacity: 0;
}
.loader:before{
animation-delay: 0.5s;
}
@keyframes loader{
0%{
  transform: scale(0);
  opacity: 0;

}
50%{
  opacity: 1;

}
100%{
  transform: scale(1);
  opacity: 0;
}
}

img {
  box-shadow: 0 0 0px #91785d;
}
.css-slideshow {
    position: relative;
      max-width: 400px;
      height: 400px;
    margin: 5em auto 0.5em auto;
  }
  .css-slideshow figure {
    margin: 0;
    max-width: 400px;
    height: 400px;
    background: #a07b5100;
    position: absolute;
  }
  .css-slideshow img {
    box-shadow: 0 0 0px #a07b5100;
  }
  .css-slideshow-attr {
    max-width: 400px;
    text-align: right;
    font-size: 0.7em;
    font-style: italic;
    margin: 0 auto;
  }
  .css-slideshow-attr a {
    color: #a07b5100;
  }
  .css-slideshow figure {
    opacity: 0;
  }
  figure:nth-child(1) {
    animation: xfade 8s 7s infinite;
  }
  figure:nth-child(2) {
    animation: xfade 8s 6s infinite;
  }
  figure:nth-child(3) {
    animation: xfade 8s 5s infinite;
  }
  figure:nth-child(4) {
    animation: xfade 8s 4s infinite;
  }
  figure:nth-child(5) {
    animation: xfade 8s 3s infinite;
  }
  figure:nth-child(6) {
    animation: xfade 8s 2s infinite;
  }
  figure:nth-child(7) {
    animation: xfade 8s 1s infinite;
  }
  figure:nth-child(8) {
    animation: xfade 8s 0s infinite;
  }
  
  @keyframes xfade {
    0% {
      opacity: 0;
    }
    10.5% {
      opacity: 1;
    }
    12.5% {
      opacity: 0;
    }
    98% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
